@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {

  --font-roboto: "Roboto Mono", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@theme {

  --animate-blob: blob 10s linear infinite;

  @keyframes blob {
    0% {
      transform: scale(1);
    }
    33% {
      transform: scale(1.2);
    }
    66% {
      transform: scale(0.85);
    }
    100% {
      transform: scale(1);
    }
  }

  --animate-fade-in: fade-in 1s ease-in-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }    
  }

}

.gradient-bg{
  background: rgb(152,58,180);
  background: linear-gradient(42deg, rgba(152,58,180,0.8066876408766632) 0%, rgba(253,29,82,0.6610293775713411) 61%, rgba(252,217,69,0.8374999658066351) 100%);
}

body {
  background: linear-gradient(135deg, #f4dccb 0%, #d8b5a5 50%, #bfa293 100%);
}

